body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5   Tahoma,"Lucide Grande","Verdana","Microsoft YaHei",hei;
  color: #000;
  background-color: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  height: 2000px;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/*搜索模块*/
.search-index {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  /*固定定位和父亲没有关系，需要设置宽度*/
  height: 44px;
  /*background-color: palegoldenrod;*/
  min-width: 320px;
  max-width: 540px;
  background-color: #f6f6f6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 2;
}
.search {
  position: relative;
  flex: 1;
  height: 25px;
  border: 1px solid #ccc;
  margin: 8px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  font-size: 12px;
  color: #666;
  line-height: 25px;
  padding-left: 25px;

}
.search::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  width: 15px;
  height: 15px;
  background:url("../images/sprite.png") no-repeat -60px -280px;
  background-size: 104px auto;

}
div {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #222;
}
.user {
  height: 44px;
  width: 44px;
  /*background-color: darkcyan;*/
  font-size: 12PX;
  text-align: center;

  color: #2eaae0;
}
.user::before {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background:url("../images/sprite.png") no-repeat -58px -192px;
  background-size: 104px auto;
  margin:2px auto -1px;
}
.focus {
  padding-top: 44px;
}
.focus img {
  width: 100%;
}
.local-nav {
  display: flex;
  height: 64px;
  background-color: #fff;
  border-radius: 8px;
  margin: 3px 4px;
}
.local-nav li {
  flex: 1;
}
.local-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.local-nav li [class^='local-icon'] {
  height: 32px;
  width: 32px;
  background-color: palegoldenrod;
  margin-top: 8px;
  background: url("../images/localnav_bg.png") no-repeat 0 0;
  background-size:32px auto;
}
.local-nav li .local-icon-2 {
  background-position: 0 -32px;
}
.local-nav li .local-icon-3 {
  background-position: 0 -64px;
}
.local-nav li .local-icon-4 {
  background-position: 0 -96px;
}
.local-nav li .local-icon-5 {
  background-position: 0 -128px;
}

nav {

  overflow: hidden;
  border-radius: 8px;
  margin:0 4px 3px;
}
.nav-common {
  display: flex;
  height: 88px;
  background-color: palegoldenrod;
}
.nav-common:nth-child(2) {
  margin: 2px 0;
}
.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-item a {
  flex: 1;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0,0,0,.2);
}
.nav-item a:nth-child(1) {
  border-bottom: 1px solid #fff;

}
.nav-item:nth-child(1) a{
  border: 0;
  background:url("../images/hotel.png") no-repeat bottom center;
  background-size: 121px auto;
}
.nav-item:nth-child(-n+2){
  border-right: 1px solid #fff;
}
.nav-common:nth-child(1){
  /*背景颜色线性渐变*/
  background:-webkit-linear-gradient(left,#fa5a55,#fa994d);
}
.nav-common:nth-child(2){
  background: -webkit-linear-gradient(left,#4b90ed,#53bced);
}
.nav-common:nth-child(3){
  background: -webkit-linear-gradient(left,#34c2a9,#6cd559);
}

.subnav-entry {
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 4px;
  flex-flow: row wrap;
  padding: 4px;
}
.subnav-entry li {
  /*子盒子可以写百分比*/
  flex: 20%;
}
.subnav-entry a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subnav-entry li [class^='subnav-entry-icon'] {
  height: 28px;
  width: 28px;
  background-color: palegoldenrod;
  margin: 4px;
  background: url("../images/subnav-bg.png") no-repeat 0 0;
  background-size: 28px;
}
.subnav-entry li .subnav-entry-icon-2 {
  background-position: 0 -28px;
}
.subnav-entry li .subnav-entry-icon-3 {
  background-position: 0 -60px;
}
.subnav-entry li .subnav-entry-icon-4 {
  background-position: 0 -96px;
}
.subnav-entry li .subnav-entry-icon-5 {
  background-position: 0 -127px;
}
.subnav-entry li .subnav-entry-icon-6 {
  background-position: 0 -161px;
}
.subnav-entry li .subnav-entry-icon-7 {
  background-position: 0 -197px;
}.subnav-entry li .subnav-entry-icon-8 {
   background-position: 0 -228px;
 }
.subnav-entry li .subnav-entry-icon-9 {
  background-position: 0 -255px;
}
.subnav-entry li .subnav-entry-icon-10 {
  background-position: 5px -284px;
}

.salebox {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 4px;
}
.salebox .sale-hd {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #ccc;
}
.sale-hd h2 {
  position: relative;
  text-indent: -9999px;
  overflow: hidden;

}
.sale-hd h2::after {
  position: absolute;
  top: 10px;
  left: 20px;
  content: '';
  height: 15px;
  width: 79px;
  background:url("../images/hot.png") no-repeat 0 -20px;
  background-size: 79px auto;
}
.more {
  position: absolute;
  top: 8px;
  right: 5px;
  background: -webkit-repeating-linear-gradient(left,#ff506c,#ff6bc6);
  border-radius: 10px;
  padding: 3px 20px 3px 7px;
  color: #fff;

}
.more::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 11px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}
.raw {
  display: flex;
}
.raw a {
  flex: 1;
  border-bottom: 1px solid #ccc;
}
.raw a img {
  width: 100%;
}
.raw a:nth-child(1){
  border-right: 1px solid #ccc;
}
